@model IEnumerable<Dhiewer_DataLibrary.Model.RSSPost>


    <script>
    function SetElementDisplay(id)
    {
        // Method to change the Elements Display style.
        var elementId = 'expand' + id;
        var element = document.getElementById(elementId)

        // If element is not shown, show it.
        if (element.style.display == 'none')
        {
            element.style.display = 'block';
        }
        // If element is shown, hide it.
        else
        {
            element.style.display = 'none';
            // When an element is set to hidden, it also marked in the Database as read.
            $.ajax(
            {
                type: "POST",
                page: 1,
                rp: 6,
                url: '@Url.Action("MarkRead", "RSSMain")' + "?id=" + id,
                dataType: "json",
                success: function(result) {},
                error: function(x, e) {}
            });
        }
        // Look at this might help making the entire page look nicer.
        // https://getbootstrap.com/

        // BTW here you can see how you do various things with or without jquery:
        // http://youmightnotneedjquery.com/

    }
    </script>
<hr />
<h2>ListRSSPosts</h2>

@foreach (var item in Model)
{
    <div id="@Html.DisplayFor(modelItem => item.Id)" class="bordered-gray">
        <h3>
            <a target="_blank" href="@Html.DisplayFor(modelItem => item.PostURL)">@Html.DisplayFor(modelItem => item.Subject)</a>
        </h3>
        <a href="javascript:;" onclick="SetElementDisplay(@item.Id)">Mark Read</a>
        <div id="@String.Format("expand{0}",item.Id)">
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.FeedName)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.ContentType)</p>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.Published)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.LastUpdated)</p>
        </div>
    </div>
}
<button type="button" id="clearDetails">Details</button>
