@model IEnumerable<Dhiewer_DataLibrary.Model.RSSPost>

@foreach (var item in Model)
{
    <div id="@Html.DisplayFor(modelItem => item.Id)" class="bordered-gray">
        <h3>
            <a target="_blank" href="@Html.DisplayFor(modelItem => item.PostURL)">@Html.DisplayFor(modelItem => item.Subject)</a>
        </h3>
        <a href="javascript:;" onclick="SetElementDisplay(@item.Id)">Mark Read</a>
        <div id="@String.Format("expand{0}",item.Id)">
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.FeedName)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.ContentType)</p>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.Published)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.LastUpdated)</p>
        </div>
    </div>
}
