@model IEnumerable<Dhiewer_DataLibrary.Model.RSSPost>

@{
    ViewBag.Title = "ListRSSPosts";
}
<script>
    function show(id)
    {
        var theId = 'expand' + id;

        if (document.getElementById(theId).style.display == 'none')
            document.getElementById(theId).style.display = 'block';
        else {
            document.getElementById(theId).style.display = 'none';
            $.ajax(
            {
                type: "POST",
                page: 1,
                rp: 6,
                url: '@Url.Action("MarkRead", "RSSMain")' + "?id=" + id,
                dataType: "json",
                success: function(result) {

                },
                error: function(x, e) {

            }
        });
        }
    }
</script>

<h2>ListRSSPosts</h2>

@foreach (var item in Model)
{
    <div id="@Html.DisplayFor(modelItem => item.Id)" class="bordered-gray">
        <h3>
            <a target="_blank" href="@Html.DisplayFor(modelItem => item.PostURL)">@Html.DisplayFor(modelItem => item.Subject)</a>
        </h3>
        <a href="javascript:;" onclick="show(@item.Id)">Mark Read/Unread</a>
        <div id="@String.Format("expand{0}",item.Id)">
            <p style="font-size:81%">from Windows Forms General</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.ContentType)</p>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.Published)</p>
            <p style="font-size:81%">@Html.DisplayFor(modelItem => item.LastUpdated)</p>
        </div>
    </div>
}
